<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模版使用示例</title>
</head>
<body>
    <p>加油，小伙子，{{ . }}</p>
    <p>Hello {{ .Name }}</p>
    <p>{{/* 这是一个跨
        行的注释，注意/需要定格写入 */}}</p>
    <p>性别是 {{ .Gender }}</p>
    <p>年龄是 {{ .Age}}</p>
</body>
</html>